* {
    padding: 0;
    margin: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#content {
    margin: 0;
}

#header {
    height: 46px;
    background-color: black;
    border-bottom: red solid 5px;
    font-size: 20px;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav .subnav {
    display: none;
    color: #000;
    min-width: 160px;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px black;
}

#nav>li>a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li:hover>a,
#nav .subnav li:hover a {
    color: orange;
    font-weight: bold;
}

#nav .subnav a {
    color: black;
    padding: 0 16px;
    line-height: 38px;
}